.nav-sitemenu {
  padding: 10px; }

#body-content {
  margin-top: 65px;
  margin-left: 0px;
  margin-right: 0px; }

.nav > li + .nav-header {
  margin-top: 9px; }

.nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.42857;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase; }

.navbar .navbar-brand {
  max-width: 400px; }

.widget {
  position: relative; }
