doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='http://cdn.staticfile.org/twitter-bootstrap/3.0.0/css/bootstrap.min.css').
    link(rel='stylesheet', href='/stylesheets/main.css').
    link(rel='stylesheet', href='http://cdn.staticfile.org/font-awesome/3.2.1/css/font-awesome.min.css')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-header
        a.navbar-brand(href='/') OSL Admin
      .navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href='#') 测试
          li 
            a(href='#') 测试
          li 
            a(href='#') 测试
        ul.nav.navbar-nav.pull-right
          li 
            a(href='#') 欢迎,RoBeRt
          li
            a(href='#') 退出
        
    block content